/NetBeansProjects/Practicas/nbproject/private/
/NetBeansProjects/Practicas/build/
/NetBeansProjects/PracticasServiciosYProcesos/nbproject/private/
/NetBeansProjects/PracticasServiciosYProcesos/build/
/NetBeansProjects/PracticasServiciosYProcesos/dist/
